<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@may221705.cy0du1iivwoh.us-east-1.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.connection.username">august_duet</property>
        <property name="hibernate.connection.password">p4ssw0rd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <property name="hibernate.show_sql">true</property>

        <!--enable second level cache-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!--provide a region factory-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <!--Query cache is neccessary to cache HQL results-->
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->

        <mapping class="com.ex.model.Album"/>
    </session-factory>
</hibernate-configuration>