body {
  background-color: rgba(0, 119, 34, 0.69);
  background: url("/img/soccer2.jpeg") no-repeat 50% 50% fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.floating-box {
  background-color: rgba(159, 159, 159, 0.69);
  border-radius: 5px;
  box-shadow: 10px 10px 5px #111111; }

.floating-box p, h5, h4, h3, h2, h1 {
  color: rgba(0, 0, 0, 0.69);
  font-weight: bold;
  text-shadow: 1px 1px #111111;
  margin-bottom: 1%;
  margin-left: 2%; }

.floating-box.head {
  background-color: rgba(0, 0, 0, 0.69);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px #111111; }

.floating-box.head h3, h2 {
  color: #00AA22; }

.floating-box.highlight {
  background-color: #CFCFCF;
  height: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px #111111; }

.floating-box.login {
  position: fixed;
  left: 35%;
  top: 30%;
  width: 25%; }

#login {
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 20px; }

.floating-box.transactions {
  padding-bottom: 20px; }

#menu, #team {
  width: 100%;
  margin-top: 45px;
  border-collapse: collapse;
  box-shadow: 5px 5px 3px #111111;
  background-color: rgba(0, 0, 0, 0.69); }

#smallmenu {
  width: 100%;
  color: #00AA22;
  border-collapse: collapse;
  box-shadow: 0px 5px 1px #111111;
  background-color: rgba(0, 0, 0, 0.69); }

#menu, team, small_menu th {
  color: #00AA22;
  border: 2px solid #111111;
  text-align: center;
  text-weight: bold;
  text-shadow: 2px 2px #111111;
  padding: 8px; }

#menu th:hover {
  background-color: rgba(159, 159, 159, 0.69); }

#smallmenu th:hover {
  background-color: rgba(159, 159, 159, 0.69); }

#team tr:nth-child(odd) {
  background-color: rgba(37, 37, 37, 0.69);
  color: #CFCFCF; }

#team tr:nth-child(even) {
  background-color: rgba(207, 207, 207, 0.69);
  color: #111111; }

.team-header {
  color: #00AA22;
  border: 2px solid #111111;
  text-align: center;
  text-weight: bold;
  text-shadow: 2px 2px #111111;
  padding: 8px; }

.floating-box.create {
  position: fixed;
  left: 35%;
  top: 5%;
  width: 30%; }

.create {
  align: center;
  padding-left: 5px;
  width: 40%;
  left: 2%; }

#create-form {
  margin-bottom: 5%; }

#description-box {
  width: 200%;
  height: 100px; }

#logout {
  color: #111111;
  padding-left: 90%;
  padding-bottom: 5px; }

.button {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111111;
  width: 10%;
  height: 7%;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.69);
  color: rgba(0, 0, 0, 0.69);
  text-align: center;
  cursor: pointer; }

.button p {
  margin-top: 5px;
  cursor: pointer; }

.button:active {
  box-shadow: 2px 2px 2px #111111;
  background-color: rgba(0, 119, 34, 0.69);
  color: #111111;
  top: 5px;
  left: 5px; }
