<div class="floating-box login">
    <div class="floating-box head"><div class="floating-box highlight"></div>
    <h3> Register Team </h3></div>
    <form id="login" ng-controller="create_team">
        <p>Team Name: <input type="text" id="teamName"/></p>
        <select id="league_Name" name="league_name">
                <option ng-repeat="leagues in league_name" value="{{league.id}}">{{league_name.name}}</option>
            </select>
        <button ng-click="create_team()" style="margin-bottom: 5%; position: relative; left: 65%;">Create Team</button>