<div class="floating-box login">
	<div class="floating-box head">
        <div class="floating-box highlight"></div>
		<table id="smallmenu" ng-controller="menu">
			<tr>
                <th ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</th>
                <th ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</th>
                <th ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</th>
                <th ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</th>
            </tr>
		</table>
 </div>
        <form id="login">
            <select id="assigned_player" name="assigned_player">
                <option ng-repeat="player in my_players" value="{{player.id}}">{{player.name}}</option>
            </select>
            <button ng-click="drop()">Drop</button>
        </form>
    </div>