<div class="floating-box" >
	<div class="floating-box head"><div class="floating-box highlight"></div><h2>Top Teams</h2></div>
	<table id="team">
		<tr>
			<th class="team-header">Rank</th>
			<th class="team-header">Team Name</th>
			<th class="team-header">League Name</th>
			<th class="team-header">Total Score</th>
		</tr>
		<tr ng-repeat="teams in topteams track by $index" >
			<td>{{($index%2)+1}}</td>
			<td>{{teams.name}}</td>
			<td>{{teams.league.name}}</td>
			<td>{{teams.points}}</td>
		</tr>
	</table>

	<table id="team">
		<tr>
			<th class="team-header">Rank</th>
			<th class="team-header">Player Name</th>
			<th class="team-header">League Name</th>
			<th class="team-header">Total Score</th>
		</tr>
		<tr ng-repeat="players in topplayers track by $index" >
			<!-- <td>{{rank}}</td> -->
			<td>{{($index%2)+1}}</td>
			<td>{{players.player.name}}</td>
			<td>{{players.player.league.name}}</td>
			<td>{{get_points(players.player)}}</td>
			<!-- <td>{{players.Player.weekly.score}}</td> -->
		</tr>
	</table>
</div>
