<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Login</title>
	    <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	</head>
	<body>
		<div ng-app="main">
			<div id="menu_container">
				<img src="img/title2.png" height="65" width="200" style="position: absolute; left: 2px; top: 2px;"><a id="logout" ng-click="$scope.user = 0" href="index.html#!/">Logout</a>
				<table id="menu" ng-controller="menu">

					<tr>
						<th ng-click="route('/home')" id="home" class="menu-item">Home</th>
						<th ng-click="route('/leagues')" id="league" class="menu-item">League</th>
						<th ng-click="route('/m_teams')" id="teams" class="menu-item">My Teams</th>
						<th ng-click="route('/players')" id="players" class="menu-item">All Players</th>
					</tr>
				</table>
			</div>
			<div ng-view>
		    </div>
	    </div>

	    <script src="js/app.js"></script>
	</body>
</html>
