<div class="floating-box login">
	<div class="floating-box head"><div class="floating-box highlight"></div>
		<table id="smallmenu" ng-controller="menu">
			<tr>
				<th ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</th>
				<th ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</th>
				<th ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</th>
				<th ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</th>
			</tr>
		</table>
	</div>
	<form id="login" ng-controller="trade_players">
		<h3>Trade: </h3>
		<select id="my_player" name="my_player">
        	<option ng-repeat="player in m_players" value="{{player.id}}">{{player.name}}</option>
        </select>
        <br/>
		<select id="other_player" name="other_player">
        	<option ng-repeat="player in o_players" value="{{player.id}}">{{player.name}}</option>
        </select>
        <br/>
		<button ng-click="trade()">Submit Trade</button>
    </form>
</div>