<div class="floating-box">

	<div class="floating-box head"><div class="floating-box highlight"></div><h2>Players</h2>
		<table id="smallmenu" ng-controller="menu">
			<tr>
				<th ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</th>
				<th ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</th>
				<th ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</th>
				<th ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</th>
			</tr>
		</table>
	</div>
	<table id="team" ng-controller="get_trades">
		<tr>
			<th class="team-header">Other Player</th>
			<th class="team-header">Own Player</th>
			<th class="team-header">Finalize</th>
		</tr>
		<tr ng-repeat="x in trades">
			<td>{{x.player1Id.name}}</td>
			<td>{{x.player2Id.name}}</td>
			<td><button ng-click="finalize_trade(x.id)">Accept</button><button ng-click="delete_trade(x.id)">Deny</button></td>
		</tr>
	</table>
</div>